<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Razor Fun!</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Here are some delicious foods!</h1>
        <hr class="my-4">
        @{
            string[] foodStr = {
                "Apple Pie",
                "Burritos",
                "Clams Casino",
                "Donuts"
            };

            foreach(var food in foodStr)
            {
                @if(food == "Clams Casino")
                {
                    <p class="text-danger">@food</p>
                }
                else
                {
                    <p>@food</p>
                }
            }
        }
    </div>
</body>
</html>