@model Transaction

@{
    ViewData["Title"] = "Account";
}
<link rel="stylesheet" href="~/css/account.css">

<h1>Welcome, @ViewBag.User.FirstName</h1>
<p>Current balance: <span class="balance">$@ViewBag.User.Balance.ToString("0.00")</span></p>
<form asp-action="Transaction" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Amount"></label><br>
        <span asp-validation-for="Amount" class="validation"></span>
        <input asp-for="Amount" class="form-control">
        <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
    </div>
    <input type="submit" value="Submit" class="btn btn-success submit">
</form>
<table class="table table-striped table-light">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trans in ViewBag.Transactions)
        {
            <tr>
                <td>$@trans.Amount.ToString("0.00")</td>
                <td>@trans.CreatedAt.ToString("MMM d, yyy")</td>
            </tr>
        }
    </tbody>
</table>