<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Portfolio</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Peter Griffin</a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home</a>
                        <a class="nav-item nav-link" href="/projects">Projects</a>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                    </div>
                </div>
            </nav>
        </header>
        <section style="height: 100vh;">
            <div class="container mt-5">
                <h1 class="text-center">About Me</h1>
                <div class="row mt-5">
                    <div class="col-6">
                        <img style="width: 100%" src="https://i.kym-cdn.com/photos/images/original/000/575/584/554.jpg" alt="Peter Griffin">
                        <h3>Peter Griffin</h3>
                        <h4>I like stuff!</h4>
                    </div>
                    <div class="col-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum purus ut nunc euismod viverra. Ut dapibus, neque ac auctor pulvinar, augue lorem laoreet diam, id molestie felis augue sed lectus. Pellentesque aliquet nisl ut sem pulvinar, non convallis dui commodo. Praesent vitae orci non erat tristique consectetur. Mauris ac lacus at quam suscipit viverra. Nullam volutpat non sem vel interdum. Duis sed neque ut lacus hendrerit posuere. Suspendisse vulputate posuere lacus id varius. Duis vehicula lobortis quam, ac aliquet elit tincidunt eget. Fusce vulputate metus vitae elementum volutpat.</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-dark text-white" style="padding: 20px;">
            <p>Copyright &copy; Art 2019</p>
        </footer>
    </body>
</html>
