<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Portfolio - Projects</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Peter Griffin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link active" href="/projects">Projects</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                </div>
            </div>
        </nav>
    </header>
    <section>
            <div class="container mt-5">
              <h1 class="text-center">Projects</h1>
              <div class="jumbotron">
                <h2>Project 1</h2>
                <hr class="my-4">
                <div class="row">
                  <div class="col-6">
                    <img style="width: 100%" src="https://codecondo.com/wp-content/uploads/2016/11/Essential-Front-End-Development-Frameworks.jpg" alt="project 1">
                  </div>
                  <div class="col-6">
                    <p>Praesent sit amet magna lacinia, viverra ligula id, tincidunt urna. In ornare orci arcu. Vivamus gravida ultricies lectus sed lacinia. Donec justo massa, luctus consectetur tortor quis, semper maximus nisl. Cras venenatis pretium facilisis. Cras et auctor libero. Duis consequat finibus urna non aliquet. In hac habitasse platea dictumst. Donec vehicula felis eu dolor dapibus, sit amet feugiat mauris finibus. Nulla lacus nisl, faucibus in elementum at, sagittis eget metus. Morbi vehicula interdum iaculis. Pellentesque molestie mauris est, non ultricies arcu congue eu. Vestibulum pulvinar eros enim, ut pulvinar nibh fermentum vitae. Nulla laoreet lacus vehicula erat molestie, mattis tristique dui elementum. Nullam dapibus leo vitae tellus pretium, at cursus tortor hendrerit. Cras efficitur euismod purus.</p>
                  </div>
                </div>
              </div>
              <div class="jumbotron">
                <h2>Project 2</h2>
                <hr class="my-4">
                <div class="row">
                  <div class="col-6">
                    <img style="width: 100%" src="https://i.udemycdn.com/course/750x422/1379894_f5be_4.jpg" alt="project 2">
                  </div>
                  <div class="col-6">
                    <p>Praesent sit amet magna lacinia, viverra ligula id, tincidunt urna. In ornare orci arcu. Vivamus gravida ultricies lectus sed lacinia. Donec justo massa, luctus consectetur tortor quis, semper maximus nisl. Cras venenatis pretium facilisis. Cras et auctor libero. Duis consequat finibus urna non aliquet. In hac habitasse platea dictumst. Donec vehicula felis eu dolor dapibus, sit amet feugiat mauris finibus. Nulla lacus nisl, faucibus in elementum at, sagittis eget metus. Morbi vehicula interdum iaculis. Pellentesque molestie mauris est, non ultricies arcu congue eu. Vestibulum pulvinar eros enim, ut pulvinar nibh fermentum vitae. Nulla laoreet lacus vehicula erat molestie, mattis tristique dui elementum. Nullam dapibus leo vitae tellus pretium, at cursus tortor hendrerit. Cras efficitur euismod purus.</p>
                  </div>
                </div>
              </div>
              <div class="jumbotron">
                <h2>Project 3</h2>
                <hr class="my-4">
                <div class="row">
                  <div class="col-6">
                    <img style="width: 100%" src="https://www.729solutions.com/wp-content/uploads/2019/03/web-3967926_1920-1080x675.jpg" alt="project 5">
                  </div>
                  <div class="col-6">
                    <p>Praesent sit amet magna lacinia, viverra ligula id, tincidunt urna. In ornare orci arcu. Vivamus gravida ultricies lectus sed lacinia. Donec justo massa, luctus consectetur tortor quis, semper maximus nisl. Cras venenatis pretium facilisis. Cras et auctor libero. Duis consequat finibus urna non aliquet. In hac habitasse platea dictumst. Donec vehicula felis eu dolor dapibus, sit amet feugiat mauris finibus. Nulla lacus nisl, faucibus in elementum at, sagittis eget metus. Morbi vehicula interdum iaculis. Pellentesque molestie mauris est, non ultricies arcu congue eu. Vestibulum pulvinar eros enim, ut pulvinar nibh fermentum vitae. Nulla laoreet lacus vehicula erat molestie, mattis tristique dui elementum. Nullam dapibus leo vitae tellus pretium, at cursus tortor hendrerit. Cras efficitur euismod purus.</p>
                  </div>
                </div>
              </div>
            </div>
    </section>
    <footer class="bg-dark text-white" style="padding: 20px;">
            <p>Copyright &copy; Art 2019</p>
    </footer>
</body>
</html>