h1 {
    margin-bottom: 40px;
    text-align: center;
}

h4{
    margin-bottom: 30px;
    margin-left: 200px;
    text-decoration: underline;
}

.btn-primary {
    margin-left: 200px;
}

li {
    margin-left: 200px;
}